@use "src/index.css";

.Header {
  display: inline-block;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 70%;
    background: var(--text);
    left: 15%;
    bottom: -4px;
  }
}
