@use "src/index.css";

.MyWork {
  background-color: var(--background-my-work);
}

.Container {
  display: grid;
  grid-template-areas:
    "header"
    "projects";
  justify-items: center;
}

.Header {
  margin-bottom: 64px;
  grid-area: header;
}

.Projects {
  grid-area: projects;
  display: grid;
  grid-gap: 4rem;
}

@media (min-width: 786px) {
  .Projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1124px) {
  .Projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
