@use "src/index.css";

$topBottomMargin: 10px 0 10px 0;

.AboutSection {
  background-color: var(--background-about);
}

.Container {
  padding: 64px 0px;
  display: grid;
  grid-template-areas:
    "header"
    "about"
    "skills";
  justify-items: center;
}

.Header {
  padding-bottom: 64px;
  grid-area: header;
  text-align: center;
  margin: $topBottomMargin;
}

.About {
  grid-area: about;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2 {
    padding-top: 12px;
  }

  p {
    padding: 16px;
    max-width: 400px;
  }
}

.Skills {
  grid-area: skills;
  height: 400px;
  width: 100%;
  padding: 48px 16px;
}

@media only screen and (min-width: 1024px) {
  .Container {
    grid-template-areas:
      "header header"
      "about skills";
  }

  .Skills {
    margin-top: 0;
    padding: 0px 16px;
  }
}
