@import "src/App.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  height: $navbar-height;
  width: 100%;
  position: absolute;

  .burgerButton {
    display: block;
    position: absolute;
    margin-left: 14px;
    margin-top: 14px;
    cursor: pointer;
    color: $text-color;
    font-size: 2.4rem;

    div {
      width: 35px;
      height: 5px;
      background-color: $text-color;
      margin: 6px 0;
      transition: 0.4s;
    }
  }

  ul {
    list-style-type: none;
    display: none;
    background-color: #333;

    li {
      text-align: center;
      padding-top: 16px;
      padding-bottom: 16px;
      text-decoration: none;
      color: $text-color;
      font-size: 2.4rem;

      a {
        display: inline-block;
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

.active {
  display: block;
}

.change {
  .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  .bar2 {
    opacity: 0;
  }
  .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}

@media screen and (min-width: 768px) {
  nav {
    .burgerButton {
      display: none;
    }

    ul {
      display: flex;
      padding-right: 30px;
      justify-content: flex-end;
      background-color: transparent;

      li {
        margin-left: 40px;
      }
    }
  }
}
