@import "src/App.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  height: $navbar-height;
  width: 100%;
  position: absolute;

  .burgerToggle {
    margin-left: 14px;
    margin-top: 14px;
    cursor: pointer;
    color: $text-color;
    font-size: 2.4rem;
  }

  ul {
    list-style-type: none;
    display: none;

    li {
      text-align: center;
      padding-top: 16px;
      padding-bottom: 16px;
      text-decoration: none;
      color: $text-color;
      font-size: 2.4rem;

      a {
        display: inline-block;
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  nav {
    height: 70px;

    .burgerToggle {
      display: none;
    }

    ul {
      display: flex;
      margin-right: 30px;
      justify-content: flex-end;

      li {
        margin-left: 40px;
      }
    }
  }
}
