@use "src/index.css";

h1 {
  font-size: 2.8rem;
  color: var(--text);
}

h2 {
  font-size: 2.2rem;
  color: var(--text);
}

p {
  font-size: 1.6rem;
  color: var(--text);
}

:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
